.root{
    -fx-background-image: url("backGround.png");
}

#startGame{
    -fx-background-image: url("startGame.png");
    -fx-background-position: center;
}

#startGame:hover{
    -fx-font-weight: bold;
    -fx-opacity: 0.8;
}

#readHistory{
    -fx-background-image: url("readHistory.png");
    -fx-background-position: center;
}

#readHistory:hover{
    -fx-font-weight: bold;
    -fx-opacity: 0.8;
}

#aboutGame{
    -fx-background-image: url("aboutGame.png");
    -fx-background-position: center;
}

#aboutGame:hover{
    -fx-font-weight: bold;
    -fx-opacity: 0.8;
}

