.root {
  -fx-pref-width: 1280px;
  -fx-pref-height: 720px;
  -fx-background-repeat: stretch;
  -fx-background-size: 1280 720;
  -fx-background-insets: 100%;
  -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.button {
  -fx-pref-width: 180px;
  -fx-pref-height: 38px;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-background-radius: 0;
  -fx-background-color: transparent;
  -fx-scale-shape: false;
}

#Menu {
  -fx-background-image: url("../pic/Background/menu.png");
}

#startBtn {
  -fx-background-image: url("../pic/Menu/game_start_0.png");
}

#replayBtn {
  -fx-background-image: url("../pic/Menu/replay_0.png");
}

#quitBtn {
  -fx-background-image: url("../pic/Menu/quit_0.png");
}